@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background: url('https://image.freepik.com/free-vector/abstract-vector-background-with-dark-gray-metal-layers_43969-468.jpg') center / cover;
}

/* header */

header{
    width: 100%;
}

.header_block1{
    width: 100%;
    height: 657px;
}

.swiper-container {
    width: 100%;
    height: 100%;

}

.swiper-slide{
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper_slide1{
    background: url('../img/pic1.jpg') center / cover;
}

.swiper_slide2{
    background: url('../img/pic2.jpg') center / cover;
}

.swiper_slide3{
    background: url('../img/pic3.jpeg') center / cover;
}

/* main */

::-webkit-input-placeholder {color: rgb(73, 73, 73)}

main{
    width: 100%;
}

.main_block1{
    width: 100%;
    margin-top: 50px;
    padding-bottom: 40px;
}

.block1_header{
    padding: 30px;
    justify-content: space-between;
    display: flex;
}

.search_block{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.search_block input{
    outline: none;
    border-radius: 10px;
    border: 1px solid white;
    margin: 0px 10px;
    background: rgb(255, 255, 255);
    padding: 15px 20px;
    transition: .3s;
    width: 30%;
    border: 1px solid grey;
}

.search_block input:focus,
.search_block input:hover{
    box-shadow: 0px 0px 2px 2px rgb(212, 212, 212);
}

/* block1_body */

.block1_body{
    width: 90%;
    margin: 0px auto;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.block1_inner{
    width: 28%;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 0px;
    margin: 0px 15px;
    transition: .3s;
    background: rgb(82, 82, 82);
    margin-bottom: 30px;
}

.block1_inner:hover{
    box-shadow: 0px 0px 3px 2px white;
}

.block1_picture{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.block1_content{
    display: flex;
    padding: 15px 10px;
    justify-content: space-between;
}

.createCardBtn{
    display: none !important;
    text-align: center;
    font-size: 20px;
}

.createCardBtn.show{
    display: block !important;
}

.block1_content ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.block1_content ul li{
    padding: 10px 0;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: 21px;
}

.block1_content ul li span img {
    width: 30px;
    margin-left: 10px;
}

.block1_content i{
    color: white;
}

.block1_title{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.block1_title h2{
    margin: 15px auto;
}

.block1_content div{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.block1_content div button{
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-size: 35px;
}


/* filter_player */


.filter_player{
    margin-top: 20px;
    width: 15%;
    height: 50px;
}

.fav.active{
    color: red !important;
}


/* info_container */

.info_container{
    width: 60%;
    z-index: 10;
    position: fixed;
    left: 20%;
    top: 20%;
    transition: .5s;
    border-radius: 10px;
    height: 60%;
    padding: 10px;
    background: rgb(36, 36, 36);
}

.info_container.active{
    display: none !important;
}

.info_title{
    display: flex;
    justify-content: center;
}

.info_title h3{
    width: 47%;
    color: rgb(158, 158, 158)
}

.info_winning{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0px 3%;
    width: 94%;
}

.info_winning h3{
    color: rgb(158, 158, 158)
}

.info_winning a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 2px solid white;
}

.info_content{
    width: 100%;
    border: 2px solid rgb(116, 116, 116);
    height: 250px;
    margin-top: 30px;
    border-radius: 10px;
}

.closes{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color:rgb(51, 51, 51);
    background: white;
    border-radius: 5px;
    border: none;
    height: 30px;
    outline: none;
    width: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 100;
    font-size: 27px;
}

.centerBtn{
    text-align: center;
    margin: 10px 0;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.centerBtn button{
    background: none;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: .3s;
    width: 40%;
    font-size: 15px;
    margin-bottom: 30px;
    padding: 10px 30px;
}

.centerBtn button:nth-child(3){
    width: 70%;
    margin-bottom: 10px;
}

.centerBtn button:hover{
    background: white;
    color: rgb(61, 61, 61);
}

.block1_container{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin: 0px 15px;
    display: flex;
    transition: .3s;
    align-items: center;
    justify-content: space-between;
    background: rgb(82, 82, 82);
    margin-bottom: 30px;
}

.block1_left{
    width: 28%;
    border-radius: 10px;
    padding: 10px;
    margin: 0px 15px;
    cursor: pointer;
    transition: .3s;
    background: rgb(82, 82, 82);
    margin-bottom: 30px;
}

.block1_right{
    width: 62%;
    height: 100%;
}

.block1_right_content{
    width: 96%;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 5px;
    height: 300px;
    overflow-y: scroll;
    padding: 20px 2%;
    overflow-x: hidden;
}

.block1_right_content p{
    color: white;
    font-weight: 500;
    line-height: 1.6;
    font-size: 18px;
}

.sendBtn{
    margin-top: 40px;
    text-align: center;
}

.sendBtn a{
    background: none;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    font-size: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px 30px;
}

.sendBtn a:hover{
    background: white;
    color: rgb(61, 61, 61);
}

.block1_right_title{
    width: 100%;
    margin: 30px 0;
}

.block1_right_title div{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.block1_right_title span{
    color: yellow;
    width: 65%;
    padding-left: 10px;
    font-weight: 600;
    font-size: 27px;
}

.block1_right_title h2{
    margin: 0px;
    font-size: 27px;
    padding-right: 10px;
    text-align: right;
    width: 35%;
    color: rgb(255, 255, 255);
}

.favBtn{
    color: rgb(255, 238, 0) !important;
}

.unfavBtn{
    color: red !important;
}

.allBtn.save{
    color: rgb(255, 238, 0) !important;
}


/* Adaptation */


@media screen and (max-width: 1280px){

    .block1_container{
        width: 70%;
        margin: 0 auto;
        flex-direction: column;
        padding-bottom: 50px;
    }

    .block1_left{
        width: 60%;
    }

    .block1_picture2{
        height: 450px;
    }

    .block1_right{
        width: 90%;
        height: 90%;
    }

    .block1_header{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .createCardBtn{
        margin: 25px 0;
        padding: 10px 0;
        width: 150px;
    }
}

@media screen and (max-width: 1150px){

    .block1_container{
        width: 80%;
    }
}

@media screen and (max-width: 1100px){
    
    .block1_inner{
        width: 40%;
        margin-bottom: 50px;
    }

    .block1_body{
        justify-content: space-between;
    }
    
    .filter_player{
        margin-top: 30px;
        padding: 10px !important;
    }
}

@media screen and (max-width: 1010px){

    .block1_container{
        width: 90%;
    }
}

@media screen and (max-width: 885px){

    .block1_container{
        width: 100%;
    }

    .block1_left{
        width: 70%;
    }

    .block1_right_title div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 20px 0;
    }
    
    .block1_right_title span{
        text-align: center;
        width: 100%;
        padding-left: 0px;
        font-size: 30px;
    }

    .block1_right_title h2{
        font-size: 40px;
        margin-bottom: 10px;
        padding-right: 0px;
        width: 100%;
        text-align: center;
    }

    .search_block{
        flex-wrap: wrap;
    }

    .search_block input{
        width: 80% !important;
        margin: 0px;
        margin-bottom: 30px;
        padding: 20px 2%;
    }
}

@media screen and (max-width: 800px){
    
    .block1_inner{
        width: 60%;
    }

    .block1_body{
        justify-content: center;
    }
}

@media screen and (max-width: 550px){
    
    .block1_inner{
        width: 80%;
    }

    .block1_picture2{
        height: 350px;
    }
    
    .block1_right_title h2{
        font-size: 35px;
    }

    .block1_left{
        width: 80%;
    }

    .search_block input{
        width: 90% !important;
    }
}

@media screen and (max-width: 460px){
    
    .block1_left{
        width: 90%;
        margin-bottom: 0px;
    }

    .block1_right_title span{
        font-size: 25px;
    }

    .block1_right_title h2{
        font-size: 31px;
    }
}

@media screen and (max-width: 400px){
    
    .block1_inner{
        width: 90%;
    }

    .search_block input{
        width: 100% !important;
    }
}

@media screen and (max-width: 385px){
    
    .block1_left{
        width: 95%;
    }

    .block1_right_title span{
        font-size: 23px;
    }

    .block1_right_title h2{
        font-size: 28px;
    }
}

/* likedcolor */

.isLikedNull{
    color: #ccc;
}

.isLikedTrue{
    color: red;
}

.isLikedFalse{
    color: black;
}


/* edit_container */


.edit_container{
    width: 56%;
    left: 20%;
    position: fixed;
    height: 480px;
    border: 3px solid white;
    background: rgb(56, 56, 56);
    border-radius: 5px;
    padding: 25px 2%;
    z-index: 10;
    pointer-events: none;
    transform: scale(.8);
    opacity: 0;
    top: 10%;
    transition: .3s;
}

.edit_container.show{
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
}

.edit_header{
    text-align: center;
    color: white;
    font-size: 25px;
}

.edit_header h2{
    margin: 0px;
    margin-top: 10px;
}

.edit_body{
    margin-top: 30px;
    justify-content: space-between;
    display: flex;
}

.edit_body div:nth-child(1){
    width: 30%;
    color: white;
    font-weight: 500;
    font-size: 30px;
    text-align: right;
}

.edit_body div:nth-child(1) p{
    margin: 0px;
}

.edit_body div:nth-child(1) p:nth-child(1){
    margin-top: 10px;
    margin-bottom: 25px;
}

.edit_body div:nth-child(1) p:nth-child(2),
.edit_body div:nth-child(1) p:nth-child(3),
.edit_body div:nth-child(1) p:nth-child(4){
    margin-bottom: 25px;
}

.edit_body div:nth-child(2){
    width: 70%;
}

.edit_body div:nth-child(2) input{
    width: 80%;
    margin-left: 30px;
    outline: none;
    color: white;
    border: none;
    padding: 20px 0;
    font-size: 18px;
    border-bottom: 1px solid white;
    background: none;
}

::-webkit-input-placeholder {color: rgb(134, 134, 134);}

.edit_footer{
    text-align: center;
    margin-top: 35px;
}

.edit_footer button{
    border: 1px solid white;
    cursor: pointer;
    color: white;
    transition: .3s;
    border-radius: 5px;
    margin: 0px 10px;
    outline: none;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 14px;
    background: none;
}

.edit_footer button:hover{
    background: white;
    color: rgb(34, 34, 34);
}

/*  delete_container  */

.delete_container{
    position: fixed;
    width: 40%;
    border: 3px solid white;
    background: rgb(56, 56, 56);
    z-index: 10;
    left: 30%;
    top: 45%;
    transform: scale(.8);
    pointer-events: none;
    opacity: 0;
    transition: .3s;
    border-radius: 5px;
    padding: 30px 0;
    text-align: center;
}

.delete_container.delete{
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
}

.delete_container p{
    margin: 0px;
    font-size: 35px;
    color: white;
    margin-bottom: 30px;
}

.delete_container button{
    border: 1px solid white;
    cursor: pointer;
    color: white;
    transition: .3s;
    border-radius: 5px;
    margin: 0px 10px;
    outline: none;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 13px;
    background: none;
}

.delete_container button:hover{
    background: white;
    color: rgb(34, 34, 34);
}


/* edit_container */


.create_container{
    width: 56%;
    left: 20%;
    position: fixed;
    height: 480px;
    border: 3px solid white;
    background: rgb(56, 56, 56);
    border-radius: 5px;
    padding: 25px 2%;
    z-index: 10;
    pointer-events: none;
    transform: scale(.8);
    opacity: 0;
    top: 10%;
    transition: .3s;
}

.create_container.show{
    opacity: 1 !important;
    transform: scale(1) !important;
    pointer-events: all !important;
}

.create_header{
    text-align: center;
    color: white;
    font-size: 25px;
}

.create_header h2{
    margin: 0px;
    margin-top: 10px;
}

.create_body{
    margin-top: 30px;
    justify-content: space-between;
    display: flex;
}

.create_body div:nth-child(1){
    width: 30%;
    color: white;
    font-weight: 500;
    font-size: 30px;
    text-align: right;
}

.create_body div:nth-child(1) p{
    margin: 0px;
}

.create_body div:nth-child(1) p:nth-child(1){
    margin-top: 10px;
    margin-bottom: 25px;
}

.create_body div:nth-child(1) p:nth-child(2),
.create_body div:nth-child(1) p:nth-child(3),
.create_body div:nth-child(1) p:nth-child(4){
    margin-bottom: 25px;
}

.create_body div:nth-child(2){
    width: 70%;
}

.create_body div:nth-child(2) input{
    width: 80%;
    margin-left: 30px;
    outline: none;
    color: white;
    border: none;
    padding: 20px 0;
    font-size: 18px;
    border-bottom: 1px solid white;
    background: none;
}

.create_footer{
    margin-top: 35px;
    justify-content: center;
    display: flex;
}

.create_footer button{
    border: 1px solid white;
    cursor: pointer;
    color: white;
    transition: .3s;
    border-radius: 5px;
    margin: 0px 10px;
    outline: none;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 14px;
    background: none;
}

.create_footer button:hover{
    background: white;
    color: rgb(34, 34, 34);
}

.block1_middle{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.createCardBtn{
    background: white;
    border-radius: 8px;
    align-items: center;
    display: flex;
    font-weight: 500;
    color: black;
    cursor: pointer;
    justify-content: center;
    padding: 10px;
    height: 25px;
    margin-top: 20px;
    width: 10%;
}

.signInBtn,
.signOutBtn{
    background: white;
    border-radius: 8px;
    align-items: center;
    display: flex;
    font-weight: 500;
    color: black;
    cursor: pointer;
    outline: none;
    justify-content: center;
    width: 10%;
    height: 45px;
    padding: 10px;
    margin-top: 25px;
    font-size: 20px;
    border: none;
}

.admin{
    width: 40%;
    left: 30%;
    position: fixed;
    border: 3px solid white;
    background: rgb(56, 56, 56);
    border-radius: 5px;
    z-index: 10;
    top: 25%;
    transform: scale(.8);
    pointer-events: none;
    opacity: 0;
    transition: .3s;
}

.admin.show{
    transform: scale(1);
    pointer-events: all;
    opacity: 1;
}

.admin_container{
    padding: 30px 25px; 
}

.admin_header{
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 500;
}

.admin_body{
    margin-top: 20px;
}

.admin_body div{
    width: 100%;
    margin-bottom: 20px;
}

.admin_body div input{
    width: 94%;
    border: none;
    outline: none;
    padding: 14px 3%;
    border-radius: 5px;
}

.admin_footer{
    text-align: center;
    margin-top: 30px;
}

.admin_footer button{
    border: 1px solid white;
    cursor: pointer;
    color: white;
    transition: .3s;
    border-radius: 5px;
    margin: 0px 10px;
    outline: none;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 14px;
    background: none;
}

.admin_footer button:hover{
    background: white;
    color: rgb(34, 34, 34);
}

@media screen and (max-width: 1150px){
    
    .signInBtn,
    .signOutBtn{
        width: 15%;
    }

    .createCardBtn{
        width: 15%;
    }
}

@media screen and (max-width: 1050px){

    .signInBtn,
    .signOutBtn{
        width: 20%;
    }

    .createCardBtn{
        width: 20%;
    }

    .filter_player{
        margin-top: 20px;
        width: 20%;
    }
}

@media screen and (max-width: 800px){

    .signInBtn,
    .signOutBtn,
    .filter_player,
    .createCardBtn{
        width: 45%;
    }
}

@media screen and (max-width: 450px){

    .signInBtn,
    .signOutBtn,
    .filter_player,
    .createCardBtn{
        width: 90%;
    }

    .createCardBtn{
        margin-bottom: 0px;
        padding: 14px 0px;
    }
}